body {
    /* background: linear-gradient(45deg, orange, white, green); */
    background-image: url(./images/bg1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
  }
.container{
height: 100vh;
/* width: 100vh; */
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
row-gap: 20px;
}
.logo{
   width: 200px;
}
.tagline{
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    color: rgb(111, 19, 160);
}
.container header{
    font-size: 60px;
    color: rgb(27, 23, 23);
    color:transparent;
    background-image: url(./images/text\ bg.jpg);
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 2px;
    background-position: 0 0;
    /* animation: back 50s linear infinite; */
    font-weight: 600;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.container p{
    font-size: 2rem;
    font-weight: 400;
    color: transparent;
    font-weight: bolder;
    background: linear-gradient(45deg, #F331B1,#FE902D,#EB008B);
    -webkit-background-clip: text;
    /* max-width: 550px; */
}
.container .time-content{
    display: flex;
    column-gap: 30px;
    align-items: center;

}
.time-content .text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.time .number, .text{
    color: rgb(11, 10, 10);
}
.number{
    font-size: 4rem;
}
.text{
    text-transform: capitalize;
    font-size: 1rem;
}
.email-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
}
.email-content p{
    font-size: 1rem;
}
.input-box{
    display: flex;
    align-items: center;
    height: 2rem;
    max-width: 360px;
    width: 100%;
    margin-top: 20px;
    column-gap: 20px;
}
.input-box input, button{
    height: 100%;
    outline: none;
    border: none;
    border: 1px solid rgb(11, 11, 11);
    border-radius: 4px;
    background-color: rgba(255,255,255,0.2);
}
.input-box input{
    width: 100%;
    padding: 0 15px;
}
.input::placeholder{
    color: white;
}
.input-box button{
    cursor: pointer;
    white-space: nowrap;
    padding: 0 20px;
}
.input-box button:hover{
    background-color: rgb(99, 111, 111);
    color: rgb(30, 23, 23);
}