*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#ff7613;
    --text-color:#727171;
}
html{
    font-size: 10px;
}
body{
    font-family: sans-serif;
    background-color: black;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
img{
    border-radius: 50%;
    width: 40rem;
    /* width: 100%; */
}
.description{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}
.container{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background: black;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
.profile{
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}
.profile-container{
    display: flex;
    gap: 2rem;
}
/* .profile profile-img{
    max-width: 250px;
} */
.profile_name_firstName{
    color: white;
    font-size: 200;
    font-size: clamp(2rem,8vw,4rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
}
.profile_name_lastName{
    color: var(--primary-color);
    font-weight: 700;
    font-size: clamp(2.5rem,15vw,7rem);
    text-transform: uppercase;
    display: block;
}
.profile_title{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}
.download-btn{
    display: block;
    text-decoration: underline;
    font-size: 1.6rem;
    margin-top: 1rem;
}
.download-btn:hover{
    color: var(--primary-color);
}

/* group 1 */
.skill_list{
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}
.title{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}
.group-1{
    display: flex;
    gap: 5rem;
    flex-direction: column;
}
.group-2{
    display: flex;
    gap: 5rem;
    flex-direction: column;
}
.group-3{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
.group-3 > div{
    flex: 1;
}
/* refernece */
.ref_item{
    margin-top: 1rem;
}
.ref_name{
    font-size: 1.6rem;
    font-weight: 700;
}

/* education  */
.edu_item{
    margin-top: 2rem;
}
.item_pretitle{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
}
.item_title{
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
    margin: 0.8rem 0;
}
.item_subtitle{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

/* certificaton */
.certification_item{
    margin-top: 2rem;
}

/* projects */
.exp_item{
    margin-top: 2rem;
}

/* awrads item */

.awards_item{
    margin-top: 2rem;
}

/* interest */
.interest_items{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.interest_item{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--text-color);
}
.interest_item svg{
    width: 2rem;
}

/* socials */
.social_items{
    margin-top: 2rem;
}
.social_item{
    margin-top: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: flex-start;
    color: var(--text-color);
}
.social_item:hover{
    color:var(--primary-color);
}
.social_item svg{
    width: 2rem;
}
hr{
    grid-column: 1/-1;
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 1rem;
    border: none;
    border-top: 2px solid rgba(128, 128, 128, .229);
}

@media only screen and (max-width : 768px){
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        margin-left: -2rem;
    }
    .profile-container{
        flex-direction: column;
    }
    h3{
        margin: 0 auto;
    }
    .group-3{
        flex-direction: column;
    }
    .profile{
        margin-bottom: 0;
    }
}