*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FBEBE3;
}
.product-small-img img{
    height: 90px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    opacity: 0.6;
}
.product-small-img img:hover{
    opacity: 1;
}
.product-small-img{
    float: left;
}
.product{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.img-container img{
    height: 600px;
}
.img-container{
    float: right;
    padding: 10px;
}
