*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:#393E46;
}
h1{
    background: #D65A31;
}
.row{
    background: #222831;
}
button{
    width: 8rem;
}
.flex-container{
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    width: 100%;
    height: 500px;
    justify-content: center;
    transition: 2s all ease;
    /* background: rgb(114, 12, 12); */
}
.flex-item{
    background: rgb(145, 231, 102);
    border: 1pt solid black;
    width: 10px;
    transition: 0.1s all ease;
}